<div class="container-fluid mb-5">
  <div class="row">
    <div id="card-container" class="col">
      <div class="card text-center view overlay">
        <div class="mask flex-center rgba-blue-grey-slight">
        </div>
        <div class="card-body">
          <h5 class="card-title"><strong>Background</strong></h5>
          <p id = "paragraph-text" class="card-text">Documentation of pharmacist interventions is not only essential for measuring and tracking clinical, financial, and humanistic outcomes to evaluate patient care services, but it can be used to guide quality improvement efforts. As health care dynamics
            evolve, pharmacists have the opportunity to amplify their voices and solidify their role in patient care. Physicians and other healthcare providers need solid evidence that justifies the expansion of pharmacy services. The Southern Illinois University
            Edwardsville-School of Pharmacy (SIUE-SOP) have collaborative agreements with different institutions in the surrounding community to utilize their faculty’s clinical expertise alongside physicians to provide quality patient care in exchange for
            an educational learning environment for pharmacy students to obtain advance pharmacy practice experience. Currently, the SIUE-SOP does not have a universal documentation program for their practicing pharmacy faculty to use when documenting clinical
            interventions at their respective institutions. The development of an online documentation program was created to fill this need.</p>
        </div>
      </div>
    </div>

    <div id="card-container" class="col-md-6">
      <div class="card text-center view overlay">
        <img class="card-img-top" src="../../assets/edit-intervention.jpg_original" alt="Card image cap">
        <div class="mask flex-center rgba-blue-grey-slight">
        </div>
      </div>
    </div>
  </div>

</div>
