<div class="container-fluid">
  <div class="row">
    <div id="card-container" class="col">
      <div class="card text-center bg-siue-gray">
        <img class="card-img-top img-fluid" src="../../assets/clinical-setting.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><strong>Drug Interventions</strong></h5>
          <p class="card-text">Drug interventions are a vital part of our practice. They allow us to keep track of our clinical success in the field.</p>
          <span class="align-bototm"><a class = "card-link" [routerLink]="['/intervention']"><strong>Create Intervention</strong><i class="material-icons">keyboard_arrow_right</i></a></span>
        </div>
      </div>
    </div>
    <div id="card-container" class="col">
      <div class="card text-center bg-siue-gray">
        <img class="card-img-top img-fluid" src="../../assets/rounding-small.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><strong>Edit Interventions or Create Reports</strong></h5>
          <p class="card-text">Pick the intervention you'd like to correct, and fix any errors. You can also Export interventions into spreadsheets.</p>
          <span class="align-bototm"><a class = "card-link" [routerLink]="['/intervention-grid']"><strong>View Interventions</strong><i class="material-icons">keyboard_arrow_right</i></a></span>
        </div>
      </div>
    </div>
  </div>
</div>
